h1 {
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
  }
  
  .hero_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
  }

  .hero {
    background: #000;
    color: #fff;
    // padding: 2em;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    transform: skew(-20deg);
    background: linear-gradient(45deg, #f857a8, #ff5858);

    height: 34px;
    width: 249px;
  }
  
  .hero_text {
    position: relative;
    z-index: 10;
    flex-direction: row;
    justify-content: center;
    display: flex;
  }
  
  .hero_text h1{
    font-size: 14px !important;
  }

  .hero_skewed--right,
  .hero_skewed--left {
    top: 0;
    height: 100%;
    width: 75%;
    position: absolute;
    overflow: hidden;
    animation-name: outer;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    transform: skew(-20deg, 0deg) translate(0, 0);
  }
  
  @keyframes outer {
    0% {
      transform: skew(-20deg, 0deg) translate(0, 0)
    }
    33% {
      transform: skew(-20deg, 0deg) translate(-50px, 0)
    }
    66% {
      transform: skew(-20deg, 0deg) translate(50px, 0)
    }
    100% {
      transform: skew(-20deg, 0deg) translate(0, 0)
    }
  }
  
  
  .hero_skewed--left {
    left: -25%;
  }
  
  .hero_skewed--right {
    right: -25%;
  }
  
  .unskewed--left,
  .unskewed--right {
    height: 100%;
    width: 125%;
    position: absolute;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    animation-name: inner;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    transform: skew(20deg, 0deg) translate(0, 0);
  }
  
  @keyframes inner {
    0% {
      transform: skew(20deg, 0deg) translate(0, 0)
    }
    33% {
      transform: skew(20deg, 0deg) translate(50px, 0)
    }
    66% {
      transform: skew(20deg, 0deg) translate(-50px, 0)
    }
    100% {
      transform: skew(20deg, 0deg) translate(0, 0)
    }
  }
  
  .unskewed--left {
    // background-image: url(https://lorempixel.com/800/1200/);
    left: 0;
    // background: red;
  }
  
  .unskewed--right {
    // background-image: url(https://lorempixel.com/800/1200/);
    right: 0;
    background: red;
  }